


.minimoContenido {
text-align: center !important;
float: inline-start !important;
 background-color: beige !important; 
}



.conteinerStyling{
    text-align: center !important;
    float: inline-start !important;
    background-color: beige !important; 
    }