.carritoDerecha { 
    color: black!important;
    background-color: transparent;
    float: right;
    width: 5%;
    height: 20px;
    justify-content: right;
    text-align: right;
    transform: translate(-5%, -5%);
    padding-bottom: 0.3%;
    box-shadow: 1px 5px 5px #00000047;

}

.carro{ 
    width: 80%;
}

.none{
    display: none;
}

.dropdown-menu.show {
    width: min-content;
    display: block !important;
    left: -600% !important;
}

.btnBlue{

}

.btncarro{
    background: none !important;
    width: 120% !important;
    margin: none !important;
}


.btncarro:hover{  
    margin: none !important;
    background-color: transparent !important;
}


.carro{
    width: 85%;
} 

.btnp{
 background-color: blue !important;
}

#nadda {
    width: max-content !important; 
    left: -300% !important;
}

.ajam{
    width: min-content;
    display: block !important;
    left: -5% !important;
}

.item-product2x{
    
}
.item-productxx{    
    color: black;
    display: flex !important;
    align-items: center;
    flex-direction: row;
    float: left;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: center; */
    /* align-items: flex-start !important; */
    /* width: max-content !important; */
    /* background-color: beige !important; */
    /* float: left; */
    /* box-shadow: 1px 1px 5px #46464647; */
    border: solid black 0.2px;
    text-align: center;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    zoom: 60%;
    width: 580px !important;
    height: 200px !important;
}

.imgcart{    width: 33%;
    margin-bottom: 18px;
}
.item-productx{
    width: 450px !important;
    color: black;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-content: center;
    justify-content: center;
    align-items: flex-start !important;
    background-color: white !important;
    float: left;
    box-shadow: 12px 5px 20px #afafaf47 !important;
    border: 2px !important;   
    border-style: dashed solid !important;
    text-align: center;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    zoom: 72%;
      float: left;
      box-shadow: 1px 1px 5px #afafaf47; 
      display: flex; 
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      margin-right: 10px;
      margin-bottom: 10px;
      padding-bottom: 8px;
    transition: all ease 0.4s;

}


.bttn{
    margin: 2px;
    margin-left: 10px;
}
 

.dropdown-menu.show {
width: min-content!important ;
display: block !important;
left: -300% !important;
}



.dropdown-menu.show2 {
    width: min-content!important ;
    display: block !important;
    left: -5% !important;
    }