.list-products {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}



.modal-custom:before {
    /* content: ""; */
    display: none;
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}



.modal-custom2 {
    display: none;
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.imgzoom{
    margin: 50px !important;
    width: 78% !important;
    zoom: 0% !important;
    margin-top: 70px !important;
    padding-top: 40px !important;
}

.zz{
    z-index: 2;
}

.modal-custom {
    zoom: 140%;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
       box-shadow: 1px 5px 5px #00000047;
    border-radius: 5px;
    padding: 20px;
}