.list-products {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}



.modal-custom:before {
    /* content: ""; */
    display: none;
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    
}



.modal-custom2 {
    display: none;
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.imgzoom{ 
    width: 78% !important;
    zoom: 0% !important; 
    padding-top: 40px !important;
    width: 70%;
    height: 70%;
}

.zz{    
    z-index: 2;
    width: 35px;
    height: 35px;
    margin: 10px;
}

.custom2{
    color: black !important;
    background-color: black !important;
}

.modal-custom {
    zoom: 90%;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 1px 5px 5px #00000047;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column; 
 
}



.modal-custom img {
    zoom: 152% !important;
    position: fixed !important;
    z-index: 1 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: white !important;
       box-shadow: 1px 5px 5px #00000047 !important;
    border-radius: 5px !important;
    margin-top: 40px !important;
    padding: 10px !important;
    width: 700px !important;
    height: 600px !important; 
   
}