.item-product-zoom{
    zoom: 80%;
    padding-top: 50px !important;
    padding-right: 150px !important;
    padding: 100px;
    width: 100% !important;
    height: 800px !important;
    display: flex !important;
    /* flex-direction: column !important;
    flex-wrap: wrap !important;
    align-content: space-around !important;
    justify-content: flex-end !important;
    align-items: flex-start !important; */
}

.zindexabajo{
z-index: -1;
}

.padbot{
    padding-bottom: 10px !important;
}

.padtop{
    padding-top: 45px;
}

.item-product22 {
    width: 1100px;
    height: 980px;
}
.imgzoom{
    margin: 5px !important;
    width: 90%;
    height: 90%;
}


.foti{
    cursor: pointer;
    width: 100%;
margin-top: 300px;
margin-left: 500px;
padding: 10px;
zoom: 90%;
border: none;
background: none;
}

.foti img{
    width:100% !important;
    margin-top: 0px  !important;
    margin-left: 0px  !important;
    padding: 0px  !important;
}

.bttn{
    background-color: black !important;
    border-radius: 0rem !important;
    font-size: 20px;
}

.btnx2{
    width: 260px !important;
    font-size: 26px;
    background-color: darkcyan !important;  
    display: revert;
    cursor: pointer;
    border: beige;
    color: white;
    background-color: darkcyan; 
    cursor: pointer;
    padding: 1px;
    font-size: 28px;
    width: 25px;
    height: 45px; 
    margin: 2px;
}

.item-product-zoom img{
    width: 120%;
    margin-top: 70px;
    margin-left: 830px;
    padding: 10px;
    zoom: 90%;
}

.margin{
    margin: 20px;
}
.fotitos {
    zoom: 05%;
}

.item-product3 {
    
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    zoom: 110% !important;
    flex-wrap: wrap;
    padding-left: 30%;

}



.item-product {
     
    color: black;
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-start !important;
    align-items: flex-end;
    width: max-content !important;
    background-color: white !important;
    float: left;
    box-shadow: 30px 20x 20px #afafaf47 !important;
    border: 2px !important;
    border-style: solid !important;
    text-align: center;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    zoom: 72%;
    /* width: 600px !important; */
    float: left;
    width: calc(22% - 5px);
    box-shadow: 1px 1px 5px #afafaf47;
    display: flex; 
    align-items: center; 
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    transition: all ease 0.2s;
    height: 610px !important;
          
    }



 
    .item-product2{
        color: black;
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
        float: left;
        /* flex-wrap: nowrap !important; */
        /* align-content: center; */
        /* justify-content: center; */
        /* align-items: flex-start !important; */
        /* width: max-content !important; */
        /* background-color: beige !important; */
        /* float: left; */
        /* box-shadow: 1px 1px 5px #46464647; */
          border: 0px;
        text-align: center;
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        zoom: 70%;
        width: 577px !important;
        height: 350px !important;
    } 

 
    .item-product:hover{ 
        z-index: 1;
        transform: scale(1.1);  
    }
    

      


.items{
    color: red;
    /* background-color: red; */
    flex-direction: column;
    box-shadow: 1px 1px black;
}


.items::before{
    color: blue;
    background-color: blue;
}
 
    
    img {
        width: 40%;
        margin-top: 15px;
        padding: 10px;
    
    }
    .countProd {
        display: flex;
        /* height: 77px; */
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .countProd p {
        font-size: 22px;
    }
    
    .countProd button {
        padding: 10px;
        font-size: 27px;
        margin: 10px;
    }
/* } */
.detail-product > p:nth-of-type(1) {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 20px 0px;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.detail-product > p:nth-of-type(2), .detail-product > p:nth-of-type(3) {
    font-size: 12px;
    /* font-weight: 100; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.detail-product > p svg {
    margin-right: 6px;
}
.item-product:nth-of-type(5n) {
    margin-right: 0px !important;
}

.padtop{
    padding-top: 45px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: beige;
    color: white;
    background-color:darkcyan;
}

.btn-group2{
    padding: 0.2rem;
    margin-bottom: 0.3rem;
}

.btn2{
    cursor: auto !important;
    zoom: 160%;
   background-color: yellowgreen !important;
}

.red{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
       color: red !important;
      width: max-content !important;

}


.description2{
     font-family:Georgia, 'Times New Roman', Times, serif;
     color: grey;
     font-size: 28px;

}


.chiquito1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: grey;
}










.esp{
    height: 160px !important; 
}

.esp2{
    height: 80px !important;
}