

.item-product {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        align-content: center;
        justify-content: center;
        align-items: flex-start !important;
        width: max-content !important;
        /* background-color: beige !important; */
        float: left;
        box-shadow: 4px 4px 50px #23232347;
        border: 10px;   
        text-align: center;
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-bottom: 8px;
        zoom: 72%;
          width: 600px !important;
    }


.items{
    color: red;
    background-color: red;
    flex-direction: column;
    box-shadow: 1px 1px black;
    
}


.items::before{
    color: blue;
    background-color: blue;
}


.item-product {
    float: left;
    width: calc(22% - 5px);
    box-shadow: 1px 1px 5px #afafaf47;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;

    /* .float-options {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 12px;
            padding: 5px;
            margin: 0;
            line-height: 16px;
            width: 50px;
            text-align: center;
            background: #00a650;
            color: white;
        } */
        
        /* button {
            background: none;
            border: none;
            margin-right: 5px;
        } */
    }
    
    img {
        width: 85%;
        margin-top: 15px;
    }
    .countProd {
        display: flex;
        /* height: 77px; */
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .countProd p {
        font-size: 22px;
    }
    
    .countProd button {
        padding: 10px;
        font-size: 27px;
        margin: 10px;
    }
/* } */
.detail-product > p:nth-of-type(1) {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 20px 0px;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.detail-product > p:nth-of-type(2), .detail-product > p:nth-of-type(3) {
    font-size: 12px;
    /* font-weight: 100; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.detail-product > p svg {
    margin-right: 6px;
}
.item-product:nth-of-type(5n) {
    margin-right: 0px !important;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: beige;
    color: white;
    background-color:darkcyan;
}

.btn-group2{
    padding: 0.2rem;
    margin-bottom: 0.3rem;
}

.btn2{
    cursor: auto !important;
   background-color: yellowgreen !important;
}

.red{
    font-size: 14px;

    font-family: 'Courier New', Courier, monospace;
        color: red !important;
    /* background-color: red !important; */

}


.description2{
     font-family:Georgia, 'Times New Roman', Times, serif;
     color: grey;
}


.chiquito1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: grey;
}








.item-product2{
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-content: center;
    justify-content: center;
    /* align-items: flex-start !important; */
    /* width: max-content !important; */
    /* background-color: beige !important; */
    /* float: left; */
    /* box-shadow: 1px 1px 5px #46464647; */
    border: 10px;
    text-align: center;
    position: relative;
    margin-right: 10px;
    /* margin-bottom: 10px; */
    padding-top: 8px;
    zoom: 90%;
    width: 600px !important;
    height: 370px;
}


